body{
    background: black;
    color:white;
    margin:0px;
    padding:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    width: 1100px;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    margin-top: 2%;
}
.logo img{
    width: 150px;
    height: 50px;
    margin-right: 10px;
    
    
}
ul{
    display: flex;
   
}
li{
    display: flex;
   list-style-type: none;
   margin-left: 60px;
   font-size: 14px;
   font-weight: bold;
}
.but button{
    padding: 9px;
    width: 100px;
    background-color:#FF9400;
    font-size: 14px;
    font-weight: bold;
    color:white;
    border-radius: 40px;
    border: none;
    }
.container1{

    margin-top: 6%;
}
.inside-container{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 1100px;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 450px;

}
h1{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 68px;
    font-weight: bold;
    margin-top: -5px;
}
.first-paragragh{
   color:rgb(241, 241, 241);
}

.second-paragragh{
    margin-top: -30px;
    font-size: 20px;
    font-weight: 600;
}
input{
    margin-top: 13%;
    padding:10px;
    width:75%;
    border-radius: 30px;
    border: 1px solid #FF9400;
}
a{
    text-decoration: none;
    color: white;
}
.container2{
    margin-top: 10%;
    background-color: #171717;
    height: 100%;
}

.inside-container2{
    display: flex;
    width: 1200px;
    margin: auto;
    justify-content: space-between;
   
}
.second-picture{
    width: 500px;
    margin-top: 20%;
    flex-basis:30%;
}
.seconn{
    margin-top: 5%;
    display:flex;
    flex-direction: column;
    flex-basis:50%;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h2{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    
}
h3{
    font-size: 20px ;
    margin-top: -5%;
}
.seconn p{
    color: rgb(243, 243, 243);
  line-height: 1.5;
}
.seconn div{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
}
.color-text{
    color: #FF9400;
}
.color-name{
    color:orange;
}